
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Arial Narrow Bold', sans-serif;
    list-style: none;
}
html{
    font-size: 10px;
}
body{
    max-width: 1920px;
    margin: auto;
}
.bg_nav{
    top: 0;
    position: fixed;
    background: #fff;
    width: 100%;
    padding-block: 25px;
}
.header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 999;
    background: #fff;
    margin-inline: 15px;
    gap: 20px;
}
.container{
    max-width: 1210px;
    margin: auto;
}
 .logo{
    display: flex;
   text-transform: uppercase;
   font-size: 3.5rem;
   font-weight: 600;
   font-family: 'Times New Roman', Times, serif;
   color: #292F36;
}
.logo i{
    color: #CDA274;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 17px;
}
header ul a{
    font-size: 1.8rem;
    color: #292F36;
    font-weight: 600;
}
header ul a:hover{
    color: #141414;
}
#menu-btn{
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    display: none;
}
.wrapper{
    margin-top: 116px;
    width: 100%;
    height: 356px;
    background-image:url(./img/Rectangle\ 20.png) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper h1{
    margin-top: 150px;
    font-size: 7rem;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    letter-spacing: 1px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 89px;
}
.inner_card{
    flex-grow: 1;
    flex-shrink:0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inner_card img{
    width: 273px;
    height: 423px;
    border-radius: 10px;
}
.inner_card h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    color: #292F36;
    margin-top:17px ;
}
.inner_card p{
    font-size: 1.5rem;
    color: #333;
    margin-top:10px ;
}
.inner_card .card_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 2rem;
    margin-top: 17px;
    margin-bottom: 40px;
}
.search{
   font-size: 2.5rem;
   color: #141414; 
   cursor: pointer;
   display: none;

}
.menu_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.input_search{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: none;
}
.input_search.shop{
    display: block;
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: center;
}
.input_search input{
    width: 500px;
    height: 55px;
    padding: 10px 20px;
    border: #5b5a5a solid 1px;
    outline: none;
    font-size: 1.8rem;
    border-radius: 4px;
}


footer{
    margin-top: 200px;
    margin-bottom: 170px;
    margin-inline: 20px;
    display: flex;
    justify-content: space-between;
    gap: 101px;
}
footer li{
    margin-bottom: 20px;
}
.brend  p{
    margin-top: 18px;
    font-size: 1.7rem;
    line-height: 1.7;
    margin-bottom: 31px;
}
.brend .icons{
    font-size: 2rem;
    display: flex;
    gap: 40px;
}
.pages{
    width: 150px;
    height: 60px;
    font-size: 1.7rem;
    color: #292F36;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.pages a{
    color: #292F36;
}
.pages h3{
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.contact{
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 1.7rem;
}
.contact h3{
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
}
.contact a{
    color: #292F36;
}
.foot{
    font-size: 1.8rem;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 40px;
}
@media screen and (max-width:755px){
    footer{
        display: flex;
        flex-direction: column;
        margin-left: 120px;
        gap: 201px;
        justify-content: center;
    }
    .pages h3{
        margin-top: -190px;
    }
    .contact h3{
        margin-top: -190px;
        margin-bottom: -20px;
    }
}
@media screen and (max-width:905px) {
   header ul{
        display: none;
    }

    #menu-btn{
        display: initial;
    }
    header ul.active{
        position: absolute;
        display: block;
        text-align: center;
        align-items: center;
        justify-content: center;
        top: 80px;
        left: 0;
        right: 0px;
        background: #fff;
        padding-inline: 50px;
    }

    header li{
        margin-bottom: 20px;
    }
    .search{
        display: block ;
    }
    .link-icon{
        display:none;
    }
    .input_search.shop{
        display: block;
        position: fixed;
        margin: auto;
        display: flex;
       transform: translate(0px,152px);
    }
    .input_search input{
        width: 100%;
        margin-inline: 10px;
    }
}